
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<!-- //navigation -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="~/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Ana Sayfa</a></li>
            <li class="active">İletişim</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- contact -->
<div class="about">
    <div class="w3_agileits_contact_grids">
        <div class="col-md-6 w3_agileits_contact_grid_left">
            <div class="agile_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2177.533365437823!2d29.89721065303703!3d39.480685842586766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c9486d6b77991d%3A0xa51a8d9c8451df0e!2sDumlup%C4%B1nar+University+Faculty+of+Engineering!5e0!3m2!1sen!2str!4v1557144300754!5m2!1sen!2str" style="border:0"></iframe>
            </div>
            <div class="agileits_w3layouts_map_pos">
                <div class="agileits_w3layouts_map_pos1">
                    <h3>Adres Bilgisi</h3>
                    <p>Dumlupınar Üniversitesi</p>
                    <ul class="wthree_contact_info_address">
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:iletisim@dpukitap.tk">iletisim@dpukitap.tk</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>0274 123 45 67</li>
                    </ul>
                    <div class="w3_agile_social_icons w3_agile_social_icons_contact">
                        <ul>
                            <li><a href="#" class="icon icon-cube agile_facebook"></a></li>
                            <li><a href="#" class="icon icon-cube agile_t"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 w3_agileits_contact_grid_right">
            <h2 class="w3_agile_header">Bir Mesaj Bırak</h2>

            <form action="#" method="post">
                <span class="input input--ichiro">
                    <input class="input__field input__field--ichiro" type="text" id="input-25" name="Name" placeholder=" " required="" />
                    <label class="input__label input__label--ichiro" for="input-25">
                        <span class="input__label-content input__label-content--ichiro">İsim</span>
                    </label>
                </span>
                <span class="input input--ichiro">
                    <input class="input__field input__field--ichiro" type="email" id="input-26" name="Email" placeholder=" " required="" />
                    <label class="input__label input__label--ichiro" for="input-26">
                        <span class="input__label-content input__label-content--ichiro">E-Mail</span>
                    </label>
                </span>
                <textarea name="Message" placeholder="Mesaj..." required=""></textarea>
                <input type="submit" value="Gönder">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- contact -->
